<div>
	<ul class="nav nav-tabs pull-right">
	    <li ui-sref-active="active">
	    	<a ui-sref="home" aria-expanded="false">Home</a>{{headerCtrl.isAuthenticated}}
	    </li>
	   <!--  <li ng-show="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<a ui-sref="profile" aria-expanded="false">Profile</a>
	    </li> -->
	    <!-- <li ng-hide="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<a ui-sref="signup" aria-expanded="true">Sign Up</a>
	    </li> -->
	    <li ng-hide="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<a ui-sref="login" aria-expanded="true">log In</a>
	    </li>
	    <li ng-show="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<a ui-sref="dashboard" aria-expanded="false">Dashboard</a>
	    </li>
	    <li ng-show="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<a ui-sref="logout" aria-expanded="false">Logout</a>
	    </li>
	    
	    <li ng-show="headerCtrl.isAuthenticated()" ui-sref-active="active">
	    	<span style = "background-image: url(''+{{headerCtrl.userImageUrl}}+'')"></span>
	    	<a ui-sref="profile" aria-expanded="false">{{headerCtrl.userName}}</a>
	    </li>
	</ul>
</div>